<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.tis.sensorlist" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SensorList</name>
    <description>Get the list of all sensors on a Device</description>
    <js-module name="SensorList" src="www/sensorlist.js">
        <clobbers target="cordova.plugins.SensorList" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SensorList">
                <param name="android-package" value="com.tis.sensorlist.SensorList" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/SensorList.java" target-dir="src/com/tis/sensorlist/SensorList" />
    </platform>
</plugin>
